<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="webedit:clearlink" type="ScPlums.WebEdit.Commands.ClearLink, ScPlums" />
      <command name="webedit:customizedfieldeditor" type="ScPlums.WebEdit.Commands.CustomizedFieldEditor, ScPlums" />
    </commands>
    <pipelines>
      <httpRequestBegin>
        <processor type="ScPlums.Fixes.RedirectBackFromLoginPage, ScPlums" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
      <mvc.renderPlaceholder>
        <processor type="ScPlums.Grid.Pipelines.PerformPlaceholderRendering, ScPlums" patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderPlaceholder.PerformRendering, Sitecore.Mvc']" />
      </mvc.renderPlaceholder>
      <getPlaceholderRenderings>
        <processor type="ScPlums.Grid.Pipelines.SetStaticRowPlaceholderKey, ScPlums" patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']" />
      </getPlaceholderRenderings>
      <getChromeData>
        <processor type="ScPlums.Grid.Pipelines.SetStaticRowPlaceholderKey, ScPlums" patch:before="processor[@type='Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel']" />
      </getChromeData>
      <renderField>
        <processor type="ScPlums.WebEdit.Pipelines.GetWrappedInTimeTagDateFieldValue, ScPlums" patch:instead="processor[@type='Sitecore.Pipelines.RenderField.GetDateFieldValue, Sitecore.Kernel']" />
        <processor type="ScPlums.WebEdit.Pipelines.GetDropLinkFieldValue, ScPlums" patch:before="processor[@type='Sitecore.Pipelines.RenderField.GetInternalLinkFieldValue, Sitecore.Kernel']" />
        <processor type="ScPlums.WebEdit.Pipelines.GetDropTreeFieldValue, ScPlums" patch:before="processor[@type='Sitecore.Pipelines.RenderField.GetInternalLinkFieldValue, Sitecore.Kernel']" />
      </renderField>
      
      <!-- NewsMover page editor fix -->
      <NewsMover.MoveCompleted>
        <processor type="ScPlums.Fixes.NewsMover.RedirectWebEdit, ScPlums" />
      </NewsMover.MoveCompleted>
    </pipelines>
  </sitecore>
</configuration>